*{
    margin: 0px;
}

/*HEADER STYLING*/

.top-header{
    background: darkblue;
}
.header-left{
    color: red;
    font-style:italic;
    font-size: 30px;
}
.top-links-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link{
    display: flex;
    margin: 5px;
    
}
.top-header .link a:link { color:white; }
.top-header .link a:visited { color: grey; }
.top-header .link a:hover { color: aqua }
.top-header .link a:active { color:darkslategray; }


/*MAIN STYLING*/

.main-header{
    background-color: #1F2937;
    background-size:auto;
    /*Flexbox*/
    flex: 1 1 auto;
    align-items:flex-end;
}

.title1{
    color: white;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.description1{
    color: white;
    font-size: 15px;
}

/*BUTTON DESIGN*/
a.sign-up{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color: #3882F6;
    text-align:center; 
    transition: all 0.2s;
}
a.sign-up:hover{
    color: white;
    background-color:#235096;
}

/*LOGO DESIGN*/
.main-logo{
    /*Image Source and Size*/
    background-image: url("https://i.imgur.com/QuL3Rmt.png");
    background-size:cover;
    width: 300px;
    height: 280px;
    padding: 200px, 100px;
    margin: 100px;
    margin-left: auto;
    margin-bottom: auto;
    background-repeat: no-repeat;
    background-position:center;
    background-color: grey;

    /*Border Style*/
    border: 5px solid black;
    border-top-width:0px;
    border-left-width:0px;

    /*FLEXBOX*/
    display: flex;
    justify-content: flex-start;
}

/*SUB-HEADER STYLING*/

.sub-header1{
    background: skyblue;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: center;
}

.box{
    display: flex;
    flex-flow: column;
    max-width:300px;
    height: 400px;
    border: 2px solid darkblue;
}

.img{
    max-width: 200px;
    max-height: 200px;

}
.link{
    font-size:20px;
}

.first{
    
}

.second{
    
}

.third{
   
}

.fourth{
}

/*QUOTE BOX*/

.quote{
    font-style:light italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    color:#1F2937;
    border: 2px black solid;
}

.attributed{
    font-style: light italic bold;
    font-size: 20px;
}

.quotebox{
    flex: 1 1 0;
    background-color: #E5E7EB;
}